.CodeSmithyUMLWebWidget .UMLClass rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
   opacity: 0.75;
}

.CodeSmithyUMLWebWidget .UMLClass line {
   stroke: #595959;
   stroke-width: 1;
}

.CodeSmithyUMLWebWidget .UMLClassName {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLAttribute {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLOperation {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: #454545;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLClass rect {
   stroke: black;
   fill: white;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLClass line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLInheritanceRelationship line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLInheritanceRelationship polygon {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLCompositionRelationship line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLCompositionRelationship polygon {
   stroke: black;
   fill: black;
}
