.codesmithy-uml-diagram .class-box__shape rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .class-box__shape line {
   stroke: #595959;
   stroke-width: 1;
}

.codesmithy-uml-diagram .class-box__class-name-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.codesmithy-uml-diagram .class-box__attributes-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .class-box__operations-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .class-template__shape line {
   stroke: #595959;
   stroke-width: 1;
}

.codesmithy-uml-diagram .class-template__shape rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .class-template__class-name-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.codesmithy-uml-diagram .class-template__attributes-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .class-template__operations-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .class-template__parameters-compartment text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .UMLComponent rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLComponent circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLComponent line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLComponentStereotype rect {
   stroke: #595959;
   stroke-width: 1;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .lifeline-head__shape rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .lifeline-head__shape line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .lifeline-head__text text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.codesmithy-uml-diagram .lifeline__lifeline-line rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .lifeline__lifeline-line line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLNode rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLNode polygon {
   stroke-linejoin: bevel;
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLActor line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLActor circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLUseCase ellipse {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .connector__shape line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .connector__shape polygon {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .connector--inheritance .connector__shape polygon {
   fill: white;
}

.codesmithy-uml-diagram .connector--composition .connector__shape polygon {
   fill: #454545;
}

.codesmithy-uml-diagram .connector--aggregation .connector__shape polygon {
   fill: white;
}

.codesmithy-uml-diagram .connector--creation-message .connector__shape polygon {
   stroke-width: 1;
}

.codesmithy-uml-diagram .connector--synchronous-message .connector__shape polygon {
   stroke-width: 1;
}

.codesmithy-uml-diagram .UMLDestructionMessage line {
   stroke: #676767;
   stroke-width: 3;
}

.codesmithy-uml-diagram .UMLUseCaseAssociation line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLAssemblyConnector line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLCommunicationPath line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .TopRightSizingHandle {
   cursor: nesw-resize
}

.codesmithy-uml-diagram--standard-style .class-box__shape rect {
   stroke: black;
   fill: white;
}

.codesmithy-uml-diagram--standard-style .class-box__shape line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-style .class-template__shape rect {
   stroke: black;
   fill: white;
}

.codesmithy-uml-diagram--standard-style .class-template__shape line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-style .connector__shape line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-style .connector__shape polygon {
   stroke: black;
}

.codesmithy-uml-diagram--standard-style .connector--composition .connector__shape polygon {
   stroke: black;
   fill: black;
}
