.codesmithy-uml-diagram .UMLClassBox rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLClassTemplate line {
   stroke: #595959;
   stroke-width: 1;
}

.codesmithy-uml-diagram .UMLClassTemplate rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLClassBox line {
   stroke: #595959;
   stroke-width: 1;
}

.codesmithy-uml-diagram .UMLComponent rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLComponent circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLComponent line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLComponentStereotype rect {
   stroke: #595959;
   stroke-width: 1;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLLifeline rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLLifeline line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLNode rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLNode polygon {
   stroke-linejoin: bevel;
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLActor line {
   stroke: #595959;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLActor circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLUseCase ellipse {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.codesmithy-uml-diagram .UMLClassName text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.codesmithy-uml-diagram .UMLClassAttributes text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .UMLClassOperations text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.codesmithy-uml-diagram .UMLInstanceName text {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.codesmithy-uml-diagram .UMLInheritanceRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLInheritanceRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLCompositionRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLCompositionRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: #454545;
}

.codesmithy-uml-diagram .UMLAggregationRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLAggregationRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: white;
}

.codesmithy-uml-diagram .UMLSynchronousMessage line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLReturnMessage line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLCreationMessage line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLDestructionMessage line {
   stroke: #676767;
   stroke-width: 3;
}

.codesmithy-uml-diagram .UMLUseCaseAssociation line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLAssemblyConnector line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .UMLCommunicationPath line {
   stroke: #454545;
   stroke-width: 2;
}

.codesmithy-uml-diagram .TopRightSizingHandle {
   cursor: nesw-resize
}

.codesmithy-uml-diagram--standard-theme .UMLClassBox rect {
   stroke: black;
   fill: white;
}

.codesmithy-uml-diagram--standard-theme .UMLClassBox line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-theme .UMLInheritanceRelationship line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-theme .UMLInheritanceRelationship polygon {
   stroke: black;
}

.codesmithy-uml-diagram--standard-theme .UMLCompositionRelationship line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-theme .UMLCompositionRelationship polygon {
   stroke: black;
   fill: black;
}

.codesmithy-uml-diagram--standard-theme .UMLAggregationRelationship line {
   stroke: black;
}

.codesmithy-uml-diagram--standard-theme .UMLAggregationRelationship polygon {
   stroke: black;
}
