.CodeSmithyUMLWebWidget .UMLClass rect {
   stroke: black;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLClass line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship polygon {
   stroke: black;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship polygon {
   stroke: black;
   stroke-width: 2;
   fill: black;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLClass rect {
   stroke: black;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLClass line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLInheritanceRelationship line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLInheritanceRelationship polygon {
   stroke: black;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLCompositionRelationship line {
   stroke: black;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .StandardStyle .UMLCompositionRelationship polygon {
   stroke: black;
   stroke-width: 2;
   fill: black;
}
