.CodeSmithyUMLWebWidget .UMLClass rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLClass line {
   stroke: #595959;
   stroke-width: 1;
}

.CodeSmithyUMLWebWidget .UMLComponent rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLComponent circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLComponent line {
   stroke: #595959;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLComponentStereotype rect {
   stroke: #595959;
   stroke-width: 1;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLLifeline rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLLifeline line {
   stroke: #595959;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLNode rect {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLActor line {
   stroke: #595959;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLActor circle {
   stroke: #595959;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLUseCase ellipse {
   stroke: #595959;
   stroke-width: 2;
   fill: #f1f4ff;
}

.CodeSmithyUMLWebWidget .UMLClassName {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLAttribute {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLOperation {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: normal;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLInstanceName {
   font-family: 'Verdana', 'Trebuchet MS';
   font-size: small;
   font-weight: bold;
   fill: #404040;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLInheritanceRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLCompositionRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: #454545;
}

.CodeSmithyUMLWebWidget .UMLAggregationRelationship line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLAggregationRelationship polygon {
   stroke: #454545;
   stroke-width: 2;
   fill: white;
}

.CodeSmithyUMLWebWidget .UMLSynchronousMessage line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLReturnMessage line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLUseCaseAssociation line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .UMLAssemblyConnector line {
   stroke: #454545;
   stroke-width: 2;
}

.CodeSmithyUMLWebWidget .TopRightSizingHandle {
   cursor: nesw-resize
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLClass rect {
   stroke: black;
   fill: white;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLClass line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLInheritanceRelationship line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLInheritanceRelationship polygon {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLCompositionRelationship line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLCompositionRelationship polygon {
   stroke: black;
   fill: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLAggregationRelationship line {
   stroke: black;
}

.CodeSmithyUMLWebWidget.StandardStyle .UMLAggregationRelationship polygon {
   stroke: black;
}
